<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!-- in this scenario, the service only receives large data => set receiveTimeout and maxReceivedMessageSize in bytes (6GB in this case) ; maxBufferSize stays 64KB (default) -->
        <binding name="StreamedTcpBinding" transferMode="Streamed" receiveTimeout="00:10:00" maxReceivedMessageSize="6442450944" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="stream_receiver.StreamReceiver">
        <endpoint address="net.tcp://localhost:48772/stream-receiver" 
                  binding="netTcpBinding"
                  contract="contract.IStreaming"
                  bindingConfiguration="StreamedTcpBinding" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
