<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!-- in this scenario, the service receives large data => set receiveTimeout and maxReceivedMessageSize in bytes (6GB in this case) ; maxBufferSize stays 64KB (default) -->
        <binding name="StreamingTcpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" maxReceivedMessageSize="6442450944" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="stream_forwarder.StreamForwarder">
        <endpoint address="stream-forwarder"
                  binding="netTcpBinding"
                  contract="contract.IStreaming"
                  bindingConfiguration="StreamingTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:48700" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <!-- act as client to send the data to the receiver service -->
      <endpoint address="net.tcp://localhost:48772/stream-receiver"
                binding="netTcpBinding"
                contract="contract.IStreaming"
                bindingConfiguration="StreamingTcpBinding"
                name="stream-receiver-ep" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="forwarder.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
